<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Batch 2:30" verbose="1" parallel="tests" thread-count="5">
<parameter name="browserName" value="chrome"></parameter>

	<!-- <listeners>
		<listener class-name="testNG_listeners.ReTryAnalyzer" />
	</listeners> -->


	<test name="Google Test">
		<classes>
			<class name="feb_02.TC01" />
			<!-- <class name="jan_25.SearchJobs_Naukri"/> -->
		</classes>
	</test>
</suite>
